// //  ------------------------------------------------------------------------------
// //  ----------------------------- CSS Files ------------------------------
// //  ------------------------------------------------------------------------------

// .swiper-container {
//   max-width: 100%;
//   grid-column: span 12;

//   .swiper-pagination-bullet {
//     height: 20px;
//     width: 20px;
//     background: #000;
//     opacity: 1;
//     margin: 0 16px;

//     &:hover {
//       cursor: pointer;
//     }
//   }

//   .swiper-pagination-bullet.swiper-pagination-bullet-active {
//     background: red!important;
//   }

//   .swiper-slide {
//     padding-bottom: 60px;  /* fixed overflow */
//   }

//   .swiper-pagination {
//     bottom: 20px;
//     z-index: 10;
//   }

//   .swiper-button-next,
//   .swiper-button-prev {
//     margin-top: calc(-44px / 2); /* arrow navigation size */
//     top: calc(50% - (60px / 2)); /* fixed position (due to fixed overflow padding-bottom) */

//     &:after {
//       font-family: swiper-icons; /* icons-arrow */
//       /* background-image: url() */ /* custom icons */
//     }
//   }
// }
.swiper-container {
	width: 100%;
	min-height: 100vh;
	height: auto;
	// border: 5px solid red;
	overflow-x: hidden;
}

.image-slider{
	// padding: 20px 0;
	.swiper-pagination-fraction{
		font-size: 20px;
		color: #fff;
	}
	.swiper-scrollbar-drag{
		cursor: pointer;
		background-color: #ff1e1e;
	}
}
.image-slider__wrapper{}
.image-slider__slide{
	// border: 5px solid rgb(108, 45, 255);
	min-height: 100vh;
	overflow-x: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

// .image-slider__image{
// 	text-align: center;
// }
// .image-slider__image img{
// 	max-width: 100%;
// }